
body {
  background-color: black;
  color: lightblue;
  font-size: 20px;
}


.jumbotron {
  background-color: lightblue;
  color: black;
  text-align: center;
}

.btn-wide {
  width: 98%;
  font-size: 24px;
	margin-bottom: 20px;
  margin-left: 1%;
}

.btn-default {
  background-color: lightblue;
  border-color: lightblue;
  color: black;
}

.btn-default:hover {
  background-color: black;
  border-color: lightblue;
  color: lightblue;
}

.btn-success:hover {
  background-color: black;
  border-color: lightgreen;
  color: lightgreen;
}

.titlebox {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 65px;
  height: 80px;
  color: black;
  border-style: none;
  border-top-style: none;
  width: 50%;
  margin-left: 25%;
}
.titlebox:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
