
body {
  background-color: black;
  color: lightblue;
  font-size: 20px;
}


.jumbotron {
  background-color: lightblue;
  color: black;
  text-align: center;
}

.btn-wide {
  width: 100%;
  font-size: 24px;
	margin: 20px
}

.btn-default {
  background-color: lightblue;
  border-color: lightblue;
  color: black;
}

.btn-default:hover {
  background-color: black;
  border-color: lightblue;
  color: lightblue;
}

.btn-success:hover {
  background-color: black;
  border-color: lightgreen;
  color: lightgreen;
}
