@using BandTracker.Models;

@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h2>Bands</h2>
</div>

<div class="container">
@foreach (Band band in Model)
{
  <a href="/bands/@band.GetId()"><button type="submit" class="btn btn-default btn-wide">@band.GetName()</button></a>
}
</div>

<a href="/bands/new"><button type="submit" class="btn btn-default btn-wide">Add Band</button></a>
<a href="/"><button type="submit" class="btn btn-default btn-wide">Return</button></a>
