@{
  Layout = "_Layout";
}
<a href="/venues"><button type="submit" class="btn btn-default btn-wide">Venues</button></a>
<a href="/bands"><button type="submit" class="btn btn-default btn-wide">Bands</button></a>
