@using BandTracker.Models;

@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h1>Venues</h1>
</div>

<div class="container text-center">

  @if (Model.Count < 1)
  {
    <h2>No Venues Entered</h2>
  }
  else
  {
    foreach (Venue venue in Model)
    {
      <a href="/venues/@venue.GetId()"><button type="submit" class="btn btn-default btn-wide">@venue.GetName()</button></a>
    }
  }

</div>

<a href="/venues/new"><button type="submit" class="btn btn-success btn-wide">Add Venue</button></a>
<a href="/"><button type="submit" class="btn btn-default btn-wide">Return</button></a>
