@using BandTracker.Models;

@{
  Layout = "_Layout";
}

<div class="jumbotron">
	<h1>@Model.GetName()</h1>
</div>

<h3 class="text-center">Id: @Model.GetId()</h3>
<div class="container">
  @if (Model.GetBandLog().Count < 1)
  {
    <h3 class="text-center">No Bands found in venue log</h3>
  }
  else
  {
    <h2>Band Log for this venue</h2>
    @foreach(Band band in Model.GetBandLog() )
    {
      /*<div class="row">
        <div class="col-md-10">*/
          <a href="/bands/@band.GetId()"><button type="submit" class="btn btn-default btn-wide">@band.GetName()</button></a>
        /*</div>*/
        /*<div class="col-md-2">
          <a href="/venues/un-log-band/@Model.GetId()/@band.GetId()"><button type="submit" class="btn btn-default btn-wide">Forget</button></a>
        </div>
      </div>*/
    }
  }
  <a href="/venues/logband/@Model.GetId()"><button type="submit" class="btn btn-default btn-wide">Add Band to Log</button></a>
</div>


<a href="/venues"><button type="submit" class="btn btn-default btn-wide">Back to Venues</button></a>
