@using BandTracker.Models

@{
  Layout = "_Layout";
}

<h1 class="text-center">Log band at @Model.GetName()</h1>
<div class = "container">
  @if (Band.GetAll().Count < 1)
  {
    <div class="container text-center">
      <h3>There are no bands</h3>
      <h4>Would you like to add one? </h4>
      <a href="/bands/new"><button type="submit" class="btn btn-success btn-wide">Add Band</button></a>
    </div>
  }

  @foreach (Band band in Band.GetAll())
	{
		<a href="/venues/@Model.GetId()/bandlog/add/@band.GetId()"><button type="submit" class="btn btn-default btn-wide">@band.GetName()</button></a>
	}
</div>
<a href="/venues/@Model.GetId()"><button type="submit" class="btn btn-default btn-wide">Cancel</button></a>
